.formulario{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10%;
    margin-bottom: 5%;
    gap: 10px;
    animation: init 1s;
   
}

.location{
    background-color: rgba(245, 245, 245, 0.84);
    padding-left:10px;
    border-radius: 10px 0px 0px 10px;
}

.formulario input{
    background-color: rgba(245, 245, 245, 0.84);
    background: url(../../assets/location.svg);
    background-size: 15px;
    background-repeat: no-repeat;
    background-position: left;
    padding: 5px 5px 5px 25px;
    width: 270px;
    /* border-radius: 10px 0 0 10px; */
    border: none;
    outline: none;
    color: #7e8bab;
    
}


.formulario input::placeholder{
    color: #7e8bab;
}



.formulario >  button {
    padding: 5px 10px;
    background-color: rgba(245, 245, 245, 0.84);
    display: flex;
    align-items: center;
    gap: 7px;
    border: none;
    cursor: pointer;
    transition: 0.5s;
    color:#7e8bab;
}

.formulario > button:hover{
    box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.495);
transform: translateX(-3px);
}


@keyframes init {
    from{
        opacity: 0;
    }

    to{
        opacity: 1;
    }
}
